<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <section>
            <h1>
                <img src="/image/logo-mercado-liebre.svg" alt="este es el logo">
            </h1>
            <p>lugar para una barra de busqueda</p>
            <p>compra en cuotas y sin tarjetas de credito</p>
        </section>
        <section>
            <nav>
                <ul>
                    <li><a href="Ofertas">Ofertas</a></li>
                    <li><a href="tienda oficial">Tienda oficial</a></li>
                    <li><a href="vender">Vender</a></li>
                    <li><a href="ayuda">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="Creá tu cuenta">Creá tu cuenta</a></li>
                    <li><a href="ingresa">Ingresa</a></li>
                    <li><a href="Mis compras">Mis compras</a></li>
                </ul>
            </nav>
        </section>

    </header>
    <main>
        <section>
            <img src="/image/img-home-banner.jpg" alt="banner" width="100%">
        </section>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/image/img-cafetera-moulinex.jpg" width="100%" alt="cafetera moulinex">
                <div>
                    <p>$ 6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/image/img-macbook-pro-2019.jpg" width="100%" alt="macbook-pro">
                <div>
                    <p>$ 230.000</p>
                    <p>20% OFF</p>
                    <p>MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/image/img-samsung-galaxy-s10.jpg" width="100%" alt="macbook-pro">
                <div>
                    <p>$ 70.500</p>
                    <p>10% OFF</p>
                    <p>Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/image/img-tv-samsung-smart.jpg" width="100%" alt="smat-tv">
                <div>
                    <p>$ 23.200</p>
                    <p>5% OFF</p>
                    <p>SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <img src="/image/img-cafetera-moulinex.jpg" width="100%" alt="cafetera moulinex">
                <div>
                    <p>$ 6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/image/img-macbook-pro-2019.jpg" width="100%" alt="macbook-pro">
                <div>
                    <p>$ 230.000</p>
                    <p>20% OFF</p>
                    <p>MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/image/img-samsung-galaxy-s10.jpg" width="100%" alt="macbook-pro">
                <div>
                    <p>$ 70.500</p>
                    <p>10% OFF</p>
                    <p>Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/image/img-tv-samsung-smart.jpg" width="100%" alt="smat-tv">
                <div>
                    <p>$ 23.200</p>
                    <p>5% OFF</p>
                    <p>SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <article>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p style="text-align:justify">Con Mercado Liebre Cash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <h5>Enviá gratis desde $ 2500</h5>
                <p style="text-align:justify">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <h5>Seguridad de pricipio a fin</h5>
                <p style="text-align:justify">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
            </article>
        </section>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </footer>
</body>

</html>